service riru-lsposed @RIRU_PATH@/riru_lsposed/daemon
    user root
    group root
    oneshot
    disabled
    seclabel u:r:su:s0

on post-fs-data
    exec u:r:su:s0 root root -- /system/bin/resetprop dalvik.vm.dex2oat-flags --inline-max-code-units=0
    start riru-lsposed